<div class="child-unit-container">
    <div class="pagination-centered child-unit-header well well-small">Player Card
        <div class="pull-right">
            <span><img class="rolex" src="../../Content/Images/logo-rolex-color.png" /></span>
            <a href="http://www.rolexrankings.com/en/rankings/" style="text-decoration: none"><span class="text-success">324</span></a>
        </div>
    </div>

    <div class="cardtext">
        <div>
            <span class="text-info">Rookie Year:</span> 
            <span><small>2012</small></span> 
        </div>
        <div>
            <span class="text-info">Professional Events:</span> 
            <span><small>12</small></span> 
        </div>
        <div>
            <span class="text-info">Career Earnings:</span> 
            <span><small>$50,097.00</small></span> 
        </div>
        <div>
            <span class="text-info">Education:</span> 
            <span><small>Vanderbilt University</small></span> 
        </div>
        <div>
            <span class="text-info">Victories:</span> 
            <span><small>Suncoast Series (Metrowest GC, Reunion Palmer, Stoneybrook West)</small></span> 
        </div>
    </div>

    <br />
</div>