<div class="child-unit-container">
    <div class="pagination-centered child-unit-header well well-small">Recent Finishes</div>
    <table class="table table-hover frontpage">
        <tbody>
        <tr>
            <td><span class="label label-success">11T</span></td>
            <td><a href="http://www.lpga.com/golf/tournaments/lpga/jamie-farr-toledo-classic/full-results.aspx">Jamie Farr Toledo Classic &raquo;</a></td>
        </tr>
        <tr>
            <td><span class="label label-success">14T</span></td>
            <td><a href="http://www.lpga.com/golf/tournaments/lpga/manulife-financial-lpga-classic/full-results.aspx">Manulife Financial LPGA Classic &raquo;</a></td>
        </tr>
        <tr>
            <td><span class="label label-success">69</span></td>
            <td><a href="http://www.lpga.com/golf/tournaments/lpga/kingsmill-championship/full-results.aspx">Kingsmill Championship &raquo;</a></td>
        </tr>
        <tr>
            <td><span class="label label-success">74T</span></td>
            <td><a href="http://www.lpga.com/golf/tournaments/lpga/mobile-bay-lpga-classic/full-results.aspx">Mobile Bay LPGA Classic &raquo;</a></td>
        </tr>
        <tr>
            <td colspan="2"><a href="http://www.lpga.com/golf/players/c/concolino-jacqui/results.aspx">View more &raquo;</a></td>
        </tr>
        </tbody>
    </table>
</div>