<div class="child-unit-container">
    <div class="accordion" id="accordion2">
      <div class="accordion-group">
        <div class="pagination-centered child-unit-header well well-small">Upcoming Tournaments</div>
      </div>
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
            CME Group Titleholders
          </a>
        </div>
        <div id="collapseTwo" class="accordion-body collapse">
          <div class="accordion-inner tab">
            <p>
                <span class="text-info">Date:</span> 
                <span><small>Nov 15-18</small></span> 
            </p>
            <p>
                <span class="text-info">Location:</span> 
                <span><small>Naples, FL</small></span> 
            </p>
          </div>
        </div>
      </div>
    </div>

</div>